@import '../../styles/color.scss';
@import '../../styles/font.scss';
@import '../../styles/spacing.scss';

.button {
  width: $cp-btn-main-width;
  height: $cp-btn-main-height;
  border-radius: $cp-btn-border-radius;
  color: $cp-btn-text-color;
  background: $cp-btn-color;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
  font-size: $cp-p-size;
  &.marginTop {
    margin-top: $cp-phone-main-margin-top;
  }
}
.button_secondary {
  width: $cp-btn-secondary-width;
  height: $cp-btn-main-height;
  border-radius: $cp-btn-border-radius;
  color: $cp-btn-text-color;
  background: $cp-btn-color;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
  font-size: $cp-p-size;
  &.marginTop {
    margin-top: $cp-phone-main-margin-top;
  }
}