@import '../../styles/spacing.scss';
@import '../../styles/color.scss';
@import '../../styles/font.scss';

.screen {
  height: 100vh;
}
.screenContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: $cp-p-size;
  color: $cp-text-color;
  background: $cp-main-bg-color;
}
.incTitle {
  font-size: $cp-h1-size;
  font-weight: bold;
  color: $cp-text-blod-color;
  margin-bottom: $cp-phone-main-spcing;
}
.imgArea {
  margin-bottom: $cp-phone-main-spcing;
}
.questionTitle {
  margin-bottom: $cp-phone-main-spcing;
}
.buttonArea {
  display: flex;
  flex-direction: column;
  .button {
    width: $cp-btn-main-width;
    height: $cp-btn-main-height;
    border-radius: $cp-btn-border-radius;
    color: $cp-btn-text-color;
    background: $cp-btn-color;
    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-child(1) {
      margin-bottom: $cp-phone-main-spcing !important;
    }
  }
}

