@import '../../styles/spacing.scss';
@import '../../styles/color.scss';
@import '../../styles/font.scss';

.screen {
  height: 100vh;
}
.screenContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: $cp-p-size;
  color: $cp-text-color;
  background: $cp-main-bg-color;
  padding-top: $cp-phone-full-bar-spacing;
}
.incTitle {
  font-size: $cp-h1-size;
  font-weight: bold;
  margin-bottom: $cp-phone-main-spcing;
  margin-top: $cp-phone-main-margin-top;
}
.tableInfoArea {
  width: 325px;
  height: 500px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $cp-phone-main-margin-top 0;
}
.tableInfo_title{
  font-size: $cp-h1-size;
}
.tableInfo_number{
  width: 100px;
  height: 100px;
  font-size: 48px;
  border: 5px solid $cp-main-bg-color;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $cp-phone-main-spcing;
}
.tableInfo_memo{
  margin-bottom: $cp-phone-section-spacing;
}
