// primary, secoondary color
$cp-main-color: #f78e0f;
$cp-secondary-color: #111;

//button color
$cp-btn-color: #F28A29;
$cp-btn-border-color: #777;
$cp-btn-text-color: #fff;

// text color
$cp-text-color: #111;
$cp-title-color: #fff;
$cp-text-blod-color: #333;

// background color
$cp-main-bg-color: #feca45;
$cp-secondary-bg-color: #fde386;
$cp-secondHeader-bg-color: #fffece;
