// desktop
$cp-index-main-spacing: 80px;
$cp-main-spcing: 64px;
$cp-secondary-spacing: 32px;
$cp-section-spacing: 48px;

// phone
$cp-phone-bar-spacing: 60px;
$cp-phone-full-bar-spacing: 82px;
$cp-phone-main-spcing: 32px;
$cp-phone-secondary-spacing: 24px;
$cp-phone-section-spacing: 16px;
$cp-phone-top-phone-spacing: 22px;
$cp-phone-last-btn-margin-top: 50px;
