@import '../../styles/spacing.scss';
@import '../../styles/color.scss';
@import '../../styles/font.scss';

.screen {
  height: 100vh;
}
.screenContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: $cp-h1-size;
  color: $cp-text-color;
  background: $cp-main-bg-color;
}
.incTitle {
  font-weight: bold;
  margin-bottom: $cp-phone-main-spcing;
}
.thanksMemo {
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  margin: $cp-phone-main-spcing 0;
}
