@import '../../styles/spacing.scss';
@import '../../styles/color.scss';
@import '../../styles/font.scss';

.screen {
  height: 100vh;
}
.screenContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: $cp-h1-size;
  color: $cp-text-color;
  background: $cp-main-bg-color;
  padding-top: $cp-phone-full-bar-spacing;
}
.moneyArea {
  display: flex;
  margin-bottom: $cp-phone-top-phone-spacing;
  .money{
    font-weight: bold;
  }
}
.checkoutOption_memo{
  margin-top: $cp-phone-main-margin-top;
  margin-bottom: $cp-phone-top-phone-spacing;
}
.button {
  margin-top: $cp-phone-main-spcing;
}

