@import '../../styles/spacing.scss';
@import '../../styles/color.scss';

.screen {
  height: 100vh;
}
.screenContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: $cp-text-color;
  background: $cp-main-bg-color;
}
.questionTitle {
  margin-bottom: $cp-phone-main-spcing;
}

